In [ ]:
# 1. Import the customer data into python

In [8]:
import pandas as pd
import numpy as np

In [ ]:
#2. Understand the data using different functions and attributes like shape, index, columns, dtypes.ndim, info(), 
#get_dtype_counts etc.

In [116]:
cust= pd.read_csv('/Users/Yatin/Analytics lab course/4. Pandas Case Study-1/Customers.csv')

In [117]:
cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Customer_ID        10000 non-null int64
Gender             9986 non-null object
First_Date         10000 non-null int64
First_region       9979 non-null object
First_state        9983 non-null object
First_city         10000 non-null object
Recent_Date        10000 non-null int64
Last_region        10000 non-null object
Last_state         10000 non-null object
Last_city          10000 non-null object
Customer_Value     9964 non-null float64
Buy_Times          10000 non-null int64
Points_Earned      9979 non-null float64
Points_Redeemed    9988 non-null float64
dtypes: float64(3), int64(4), object(7)
memory usage: 1.1+ MB

In [118]:
cust.First_Date=pd.to_datetime(cust.First_Date, format='%Y%m%d')

In [17]:
cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Customer_ID        10000 non-null int64
Gender             9986 non-null object
First_Date         10000 non-null datetime64[ns]
First_region       9979 non-null object
First_state        9983 non-null object
First_city         10000 non-null object
Recent_Date        10000 non-null int64
Last_region        10000 non-null object
Last_state         10000 non-null object
Last_city          10000 non-null object
Customer_Value     9964 non-null float64
Buy_Times          10000 non-null int64
Points_Earned      9979 non-null float64
Points_Redeemed    9988 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(7)
memory usage: 1.1+ MB

In [18]:
cust.head(5)

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed
0,129609144,M,2013-01-30,West,Gujarat,Surat,20130216,West,Gujarat,Surat,2032.0,2,200.0,0.0
1,129627580,M,2013-01-29,North,Delhi,Delhi,20130129,North,Delhi,Delhi,1709.0,1,100.0,0.0
2,130363481,M,2013-02-21,West,Gujarat,Surat,20130221,West,Gujarat,Surat,523.0,1,10.0,0.0
3,49817480,M,2013-02-22,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,5132.0,1,170.0,0.0
4,126343829,F,2013-03-01,North,Delhi,Delhi,20130301,North,Delhi,Delhi,1008.0,1,60.0,0.0

In [20]:
cust.dtypes

Customer_ID                 int64
Gender                     object
First_Date         datetime64[ns]
First_region               object
First_state                object
First_city                 object
Recent_Date                 int64
Last_region                object
Last_state                 object
Last_city                  object
Customer_Value            float64
Buy_Times                   int64
Points_Earned             float64
Points_Redeemed           float64
dtype: object

In [21]:
cust.shape[0]

10000

In [24]:
cust.index

RangeIndex(start=0, stop=10000, step=1)

In [25]:
cust.columns

Index(['Customer_ID', 'Gender', 'First_Date', 'First_region', 'First_state',
       'First_city', 'Recent_Date', 'Last_region', 'Last_state', 'Last_city',
       'Customer_Value', 'Buy_Times', 'Points_Earned', 'Points_Redeemed'],
      dtype='object')

In [26]:
cust.dtypes.ndim

1

In [27]:
cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Customer_ID        10000 non-null int64
Gender             9986 non-null object
First_Date         10000 non-null datetime64[ns]
First_region       9979 non-null object
First_state        9983 non-null object
First_city         10000 non-null object
Recent_Date        10000 non-null int64
Last_region        10000 non-null object
Last_state         10000 non-null object
Last_city          10000 non-null object
Customer_Value     9964 non-null float64
Buy_Times          10000 non-null int64
Points_Earned      9979 non-null float64
Points_Redeemed    9988 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(7)
memory usage: 1.1+ MB

In [28]:
cust.get_dtype_counts

<bound method NDFrame.get_dtype_counts of       Customer_ID Gender First_Date First_region     First_state  \
0       129609144      M 2013-01-30         West         Gujarat
1       129627580      M 2013-01-29        North           Delhi
2       130363481      M 2013-02-21         West         Gujarat
3        49817480      M 2013-02-22         West     Maharashtra
4       126343829      F 2013-03-01        North           Delhi
5         8223758      F 2013-03-14         West         Gujarat
6       131816709      M 2013-03-18        South  Andhra Pradesh
7       118543320      F 2013-03-21        North   Uttar Pradesh
8       131365512      M 2013-03-23         East     West Bengal
9          758571      M 2013-03-24        South       Karnataka
10       85489184      M 2012-01-01         West     Maharashtra
11       85438231      M 2012-01-03         West     Maharashtra
12       74053888      F 2012-01-02         West         Gujarat
13        7256956      M 2012-01-02        North       Rajasthan
14        1610085      F 2012-01-03        North           Delhi
15        7518872      M 2012-01-04        North   Uttar Pradesh
16        8638553      M 2012-01-03         West         Gujarat
17       85438392      M 2012-01-03         West         Gujarat
18       63508964      M 2012-01-06         West     Maharashtra
19       23667984      F 2012-01-07         West     Maharashtra
20       84634600      M 2012-01-08        South       Karnataka
21       85207999      M 2012-01-10        South  Andhra Pradesh
22       86066230      M 2012-01-11         West         Gujarat
23        6888521      M 2012-01-12         West     Maharashtra
24       87030390      M 2012-01-11         East     West Bengal
25       85645488      M 2012-01-11        North  Madhya Pradesh
26       12935950      M 2012-01-13         West         Gujarat
27       10954886      F 2012-01-15        North  Madhya Pradesh
28       84437746      M 2012-01-15         East     West Bengal
29        7514232      M 2012-01-14        North           Delhi
...           ...    ...        ...          ...             ...
9970      5599557      F 2012-01-15         West         Gujarat
9971      7956527      F 2012-01-15        North           Delhi
9972     10184222      M 2012-01-16        North   Uttar Pradesh
9973     88092811      M 2012-01-16         West         Gujarat
9974     84750517      F 2012-01-19         West         Gujarat
9975      5686217      M 2012-01-18         West     Maharashtra
9976     63669926      M 2012-01-18        South       Telangana
9977     90964885      M 2012-01-21         West         Gujarat
9978     87989417      M 2012-01-27         West         Gujarat
9979      6005239      M 2012-01-29         East     West Bengal
9980     91066310      M 2012-01-30         West         Gujarat
9981       414338      M 2012-01-31         West         Gujarat
9982      9144258      M 2012-01-30        South      Tamil Nadu
9983     91076263      F 2012-01-30         East     West Bengal
9984     85012902      M 2012-02-01         West         Gujarat
9985     14762484      M 2012-01-31        North  Madhya Pradesh
9986     69453769      M 2012-02-01        South      Tamil Nadu
9987      7060195      M 2012-02-02         West         Gujarat
9988     91095093      M 2012-02-01        South       Telangana
9989     91098168      M 2012-02-01        South      Tamil Nadu
9990     91227615      M 2012-02-03         West         Gujarat
9991     91136028      M 2012-02-03         West     Maharashtra
9992       794622      F 2012-02-03         West         Gujarat
9993     91289992      M 2012-02-05         West     Maharashtra
9994     73876936      M 2012-02-05         West         Gujarat
9995     50093138      M 2012-02-08        North   Uttar Pradesh
9996     92763145      M 2012-02-09        South       Telangana
9997     73839417      M 2012-02-10        South       Karnataka
9998     69606859      M 2012-02-15        North   Uttar Pradesh
9999    113292109      M 2012-02-17         West     Maharashtra

            First_city  Recent_Date Last_region      Last_state  \
0                Surat     20130216        West         Gujarat
1                Delhi     20130129       North           Delhi
2                Surat     20130221        West         Gujarat
3     Pimpri-Chinchwad     20130222        West     Maharashtra
4                Delhi     20130301       North           Delhi
5                Surat     20130314        West         Gujarat
6        Visakhapatnam     20130318       South  Andhra Pradesh
7               Kanpur     20130321       North   Uttar Pradesh
8              Kolkata     20130331        East     West Bengal
9            Bangalore     20130325        West     Maharashtra
10              Nagpur     20120101        West     Maharashtra
11              Mumbai     20121111        East     West Bengal
12               Surat     20130314        West         Gujarat
13              Jaipur     20121126       North       Rajasthan
14               Delhi     20121013       North           Delhi
15              Kanpur     20130123       North   Uttar Pradesh
16           Ahmedabad     20120103        West         Gujarat
17           Ahmedabad     20130212       South       Telangana
18    Pimpri-Chinchwad     20130222        West     Maharashtra
19              Nagpur     20130313        West     Maharashtra
20           Bangalore     20130307       South       Karnataka
21       Visakhapatnam     20121229       South  Andhra Pradesh
22            Vadodara     20120111        West         Gujarat
23               Thane     20121210        West     Maharashtra
24             Kolkata     20130302        East     West Bengal
25              Bhopal     20120111       North  Madhya Pradesh
26               Surat     20120623        West         Gujarat
27              Indore     20130118       North  Madhya Pradesh
28             Kolkata     20130222       South       Karnataka
29               Delhi     20130108       North           Delhi
...                ...          ...         ...             ...
9970            Rajkot     20130330        West         Gujarat
9971             Delhi     20130222       North           Delhi
9972            Kanpur     20121014       North   Uttar Pradesh
9973             Surat     20130222        West         Gujarat
9974             Surat     20130319        West         Gujarat
9975             Thane     20120524        West         Gujarat
9976         Hyderabad     20130114       South       Telangana
9977             Surat     20120121        West         Gujarat
9978             Surat     20120127        West         Gujarat
9979           Kolkata     20121127       South       Telangana
9980             Surat     20130312        West         Gujarat
9981             Surat     20120131        West         Gujarat
9982           Chennai     20130313        West     Maharashtra
9983           Kolkata     20130310        East     West Bengal
9984             Surat     20130310        West         Gujarat
9985            Indore     20121211       North  Madhya Pradesh
9986           Chennai     20120201       South      Tamil Nadu
9987         Ahmedabad     20130328        West         Gujarat
9988         Hyderabad     20120201       South       Telangana
9989           Chennai     20120201       South      Tamil Nadu
9990             Surat     20120203        West         Gujarat
9991            Mumbai     20120523       South       Karnataka
9992             Surat     20120508        West         Gujarat
9993  Pimpri-Chinchwad     20120205        West     Maharashtra
9994             Surat     20130218        West         Gujarat
9995              Agra     20121114       North   Uttar Pradesh
9996         Hyderabad     20130319       South       Telangana
9997         Bangalore     20130216       South       Karnataka
9998           Lucknow     20120215       North   Uttar Pradesh
9999            Mumbai     20120217        West     Maharashtra

             Last_city  Customer_Value  Buy_Times  Points_Earned  \
0                Surat      2032.00000          2          200.0
1                Delhi      1709.00000          1          100.0
2                Surat       523.00000          1           10.0
3     Pimpri-Chinchwad      5132.00000          1          170.0
4                Delhi      1008.00000          1           60.0
5                Surat      2606.90000          1         1140.0
6        Visakhapatnam      1369.00000          1           79.0
7               Kanpur      5690.00000          1          360.0
8              Kolkata      2555.00000          2          190.0
9                Thane      2677.80000          3          145.0
10              Nagpur       855.00000          1           35.0
11            Bhatpara      5969.00000          5          294.0
12               Surat      9142.49700         10          639.0
13              Jaipur      8019.60000          5          609.0
14               Delhi     10380.19900          6         1189.0
15              Kanpur     14587.00000          6          865.0
16           Ahmedabad      1011.00000          1          115.0
17           Hyderabad      6065.30000          5          485.0
18    Pimpri-Chinchwad    145472.70200         36          680.0
19              Nagpur     19640.70000         12          268.0
20           Bangalore     32377.60200         22         1029.0
21       Visakhapatnam     17202.40000         13          449.0
22            Vadodara       900.50000          1          100.0
23    Pimpri-Chinchwad      4588.99900          4          190.0
24             Kolkata     33047.00400         31          141.0
25              Bhopal       878.00000          1           80.0
26           Ahmedabad     18358.00000          6          874.0
27              Indore     15426.39800         13         1672.0
28           Bangalore      5415.00100          6          736.0
29               Delhi     51692.99900         29         4275.0
...                ...             ...        ...            ...
9970            Rajkot     74662.77636         36           22.0
9971             Delhi     66082.19900         37         2385.0
9972            Kanpur      2031.00100          2          215.0
9973             Surat     14786.60000         12          337.0
9974             Surat     20696.90000         11         1935.0
9975             Surat     16858.09900         11          915.0
9976         Hyderabad     12863.00000          4         1030.0
9977             Surat       198.00000          1            0.0
9978             Surat       929.99900          1           50.0
9979         Hyderabad     12246.80000          6          600.0
9980             Surat     11723.00000         10          475.0
9981             Surat      1080.00000          1            0.0
9982            Mumbai     42195.09900         23         4441.0
9983           Kolkata     34492.90100         14         1591.0
9984             Surat     30123.30000          9         1555.0
9985            Bhopal     88407.50000         23         4317.0
9986           Chennai       480.00000          1           10.0
9987         Ahmedabad      6693.20000          3          645.0
9988         Hyderabad       825.99700          1           55.0
9989           Chennai       408.00000          1            0.0
9990             Surat       617.00000          1           35.0
9991         Bangalore      4383.80100          5           10.0
9992             Surat      8081.00000          4          594.0
9993  Pimpri-Chinchwad      1069.00000          1           81.0
9994             Surat      8059.59900          5          647.0
9995              Agra     13818.60000          7         1195.0
9996         Hyderabad     13016.50000          7          870.0
9997         Bangalore     44057.90000         11         2242.0
9998           Lucknow      1116.00000          1            0.0
9999            Mumbai      1222.00000          1           60.0

      Points_Redeemed
0                 0.0
1                 0.0
2                 0.0
3                 0.0
4                 0.0
5                 0.0
6                 0.0
7                 0.0
8                 0.0
9                 0.0
10                0.0
11                0.0
12                2.0
13                0.0
14                0.0
15                0.0
16                0.0
17                0.0
18            16635.0
19             2549.0
20             1771.0
21                0.0
22                0.0
23                0.0
24             2214.0
25                0.0
26                0.0
27                0.0
28                0.0
29               12.0
...               ...
9970          10472.0
9971          13520.0
9972              0.0
9973            300.0
9974              0.0
9975              0.0
9976              0.0
9977              0.0
9978              0.0
9979              0.0
9980              0.0
9981              0.0
9982              0.0
9983              0.0
9984              0.0
9985              0.0
9986            580.0
9987              0.0
9988              0.0
9989              0.0
9990              0.0
9991            370.0
9992              0.0
9993              0.0
9994              0.0
9995           1800.0
9996              0.0
9997            585.0
9998            310.0
9999              0.0

[10000 rows x 14 columns]>

In [ ]:
#3. What is percentage of missing values for customer Value variable?

In [31]:
(cust['Customer_Value'].isnull().sum() *100/len(cust))

0.36

In [ ]:
#4. Create two subsets with unique and duplicate values.

In [33]:
cust1 = cust.nunique()
cust1

Customer_ID        9955
Gender                3
First_Date          452
First_region          4
First_state          22
First_city          103
Recent_Date         452
Last_region           4
Last_state           24
Last_city           116
Customer_Value     7856
Buy_Times            84
Points_Earned      1652
Points_Redeemed     786
dtype: int64

In [35]:
cust2 = cust.count()
cust2

Customer_ID        10000
Gender              9986
First_Date         10000
First_region        9979
First_state         9983
First_city         10000
Recent_Date        10000
Last_region        10000
Last_state         10000
Last_city          10000
Customer_Value      9964
Buy_Times          10000
Points_Earned       9979
Points_Redeemed     9988
dtype: int64

In [ ]:
#5. Create data set with list of customers whose customer value greater than 10000.

In [38]:
cust3 = cust[cust.Customer_Value>10000]
cust3

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed
14,1610085,F,2012-01-03,North,Delhi,Delhi,20121013,North,Delhi,Delhi,10380.19900,6,1189.0,0.0
15,7518872,M,2012-01-04,North,Uttar Pradesh,Kanpur,20130123,North,Uttar Pradesh,Kanpur,14587.00000,6,865.0,0.0
18,63508964,M,2012-01-06,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,145472.70200,36,680.0,16635.0
19,23667984,F,2012-01-07,West,Maharashtra,Nagpur,20130313,West,Maharashtra,Nagpur,19640.70000,12,268.0,2549.0
20,84634600,M,2012-01-08,South,Karnataka,Bangalore,20130307,South,Karnataka,Bangalore,32377.60200,22,1029.0,1771.0
21,85207999,M,2012-01-10,South,Andhra Pradesh,Visakhapatnam,20121229,South,Andhra Pradesh,Visakhapatnam,17202.40000,13,449.0,0.0
24,87030390,M,2012-01-11,East,West Bengal,Kolkata,20130302,East,West Bengal,Kolkata,33047.00400,31,141.0,2214.0
26,12935950,M,2012-01-13,West,Gujarat,Surat,20120623,West,Gujarat,Ahmedabad,18358.00000,6,874.0,0.0
27,10954886,F,2012-01-15,North,Madhya Pradesh,Indore,20130118,North,Madhya Pradesh,Indore,15426.39800,13,1672.0,0.0
29,7514232,M,2012-01-14,North,Delhi,Delhi,20130108,North,Delhi,Delhi,51692.99900,29,4275.0,12.0
30,328670,M,2012-01-15,North,Delhi,Delhi,20130302,North,Delhi,Delhi,10547.79600,11,574.0,2120.0
31,237645,M,2012-01-17,North,Madhya Pradesh,Indore,20130318,North,Madhya Pradesh,Indore,173171.70000,34,12737.0,0.0
32,36292837,M,2012-01-18,West,Gujarat,Surat,20130313,West,Gujarat,Surat,18412.20000,19,158.0,1260.0
35,73792250,M,2012-01-28,West,Gujarat,Surat,20130305,West,Gujarat,Surat,29460.00000,6,2440.0,0.0
37,73957360,M,2012-01-29,West,Gujarat,Surat,20130306,West,Gujarat,Surat,28291.29800,29,225.0,1886.0
38,8068420,F,2012-01-31,North,Uttar Pradesh,Kanpur,20130224,South,Tamil Nadu,Chennai,11316.00100,6,684.0,267.0
39,3021033,M,2012-01-31,South,Karnataka,Bangalore,20130218,South,Karnataka,Bangalore,48674.40100,6,244.0,2270.0
40,5912830,F,2012-02-02,East,West Bengal,South Dumdum,20130318,East,Jharkhand,Dhanbad,15478.00000,9,1895.0,0.0
42,9046409,M,2012-02-06,West,Maharashtra,Mumbai,20130327,West,Maharashtra,Mumbai,20520.80000,13,641.0,780.0
43,93630,M,2012-02-08,West,Gujarat,Surat,20130202,West,Gujarat,Surat,11148.00000,7,960.0,0.0
44,85323066,F,2012-02-08,West,Maharashtra,Mumbai,20130202,West,Maharashtra,Mumbai,41852.79800,16,1453.0,415.0
45,303753,M,2012-02-08,North,Madhya Pradesh,Indore,20130321,North,Madhya Pradesh,Indore,54342.00000,32,2061.0,9320.0
46,49886011,F,2012-02-08,West,Maharashtra,Mumbai,20120518,South,Karnataka,Bangalore,15092.80000,5,1381.0,0.0
50,85613515,M,2012-02-13,West,Gujarat,Surat,20130312,West,Gujarat,Surat,37192.00100,13,1837.0,540.0
53,55802349,F,2012-02-24,West,Gujarat,Ahmedabad,20130225,West,Gujarat,Ahmedabad,15695.50000,9,983.0,0.0
54,84874275,M,2012-02-24,West,Maharashtra,Pimpri-Chinchwad,20130322,West,Maharashtra,Pimpri-Chinchwad,107078.39900,37,4083.0,0.0
55,6898330,F,2012-02-27,West,Gujarat,Surat,20130308,West,Gujarat,Surat,20211.90000,17,1205.0,0.0
57,113932157,F,2012-03-02,West,Gujarat,Surat,20130201,West,Gujarat,Surat,32085.69800,16,537.0,2401.0
58,1747708,F,2012-03-03,South,Karnataka,Bangalore,20130324,North,Madhya Pradesh,Indore,18881.78574,14,588.0,2481.0
59,2780625,M,2012-03-03,West,Gujarat,Surat,20130124,West,Gujarat,Surat,16471.90100,9,555.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9938,5686217,M,2012-01-18,West,Maharashtra,Thane,20120524,West,Gujarat,Surat,16858.09900,11,915.0,0.0
9939,63669926,M,2012-01-18,South,Telangana,Hyderabad,20130114,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0
9942,6005239,M,2012-01-29,East,West Bengal,Kolkata,20121127,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0
9943,91066310,M,2012-01-30,West,Gujarat,Surat,20130312,West,Gujarat,Surat,11723.00000,10,475.0,0.0
9945,9144258,M,2012-01-30,South,Tamil Nadu,Chennai,20130313,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0
9946,91076263,F,2012-01-30,East,West Bengal,Kolkata,20130310,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0
9947,85012902,M,2012-02-01,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.30000,9,1555.0,0.0
9948,14762484,M,2012-01-31,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0
9958,50093138,M,2012-02-08,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0
9959,92763145,M,2012-02-09,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0
9960,73839417,M,2012-02-10,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0
9964,74054076,F,2012-01-10,North,Uttar Pradesh,Kanpur,20121117,North,Uttar Pradesh,Kanpur,13485.10100,10,166.0,810.0
9966,63594593,M,2012-01-12,East,West Bengal,Siliguri,20130204,East,West Bengal,Siliguri,10379.00000,4,495.0,0.0
9967,87998623,M,2012-01-12,East,West Bengal,Durgapur,20130228,North,Uttar Pradesh,Kanpur,24378.00000,9,1506.0,0.0
9969,88068705,M,2012-01-16,West,Gujarat,Surat,20120704,West,Gujarat,Surat,10996.00000,3,680.0,0.0
9970,5599557,F,2012-01-15,West,Gujarat,Rajkot,20130330,West,Gujarat,Rajkot,74662.77636,36,22.0,10472.0
9971,7956527,F,2012-01-15,North,Delhi,Delhi,20130222,North,Delhi,Delhi,66082.19900,37,2385.0,13520.0
9973,88092811,M,2012-01-16,West,Gujarat,Surat,20130222,West,Gujarat,Surat,14786.60000,12,337.0,300.0
9974,84750517,F,2012-01-19,West,Gujarat,Surat,20130319,West,Gujarat,Surat,20696.90000,11,1935.0,0.0
9975,5686217,M,2012-01-18,West,Maharashtra,Thane,20120524,West,Gujarat,Surat,16858.09900,11,915.0,0.0
9976,63669926,M,2012-01-18,South,Telangana,Hyderabad,20130114,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0
9979,6005239,M,2012-01-29,East,West Bengal,Kolkata,20121127,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0
9980,91066310,M,2012-01-30,West,Gujarat,Surat,20130312,West,Gujarat,Surat,11723.00000,10,475.0,0.0
9982,9144258,M,2012-01-30,South,Tamil Nadu,Chennai,20130313,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0
9983,91076263,F,2012-01-30,East,West Bengal,Kolkata,20130310,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0
9984,85012902,M,2012-02-01,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.30000,9,1555.0,0.0
9985,14762484,M,2012-01-31,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0
9995,50093138,M,2012-02-08,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0
9996,92763145,M,2012-02-09,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0
9997,73839417,M,2012-02-10,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0

In [ ]:
#6. In customer table, create a new variable called “customer value segment” using customer value as follows. -  
#- High Value Segment - > 25000  
#- Medium Value Segment – Between 10000 and 25000  
#- Low Value Segment – less than or equal to 10000

In [119]:
def value_segment(cust):
    if (cust['Customer_Value'] > 25000):
        return 'High Value Segment'
    elif (cust['Customer_Value'] > 10000) & (cust['Customer_Value'] < 25000):
        return 'Medium Value Segment'
    elif (cust['Customer_Value'] <= 10000):
        return 'Low Value Segment'
    
cust['Customer_Value_segment'] = cust.apply(value_segment, axis = 1)
cust

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed,Customer_Value_segment
0,129609144,M,2013-01-30,West,Gujarat,Surat,20130216,West,Gujarat,Surat,2032.00000,2,200.0,0.0,Low Value Segment
1,129627580,M,2013-01-29,North,Delhi,Delhi,20130129,North,Delhi,Delhi,1709.00000,1,100.0,0.0,Low Value Segment
2,130363481,M,2013-02-21,West,Gujarat,Surat,20130221,West,Gujarat,Surat,523.00000,1,10.0,0.0,Low Value Segment
3,49817480,M,2013-02-22,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,5132.00000,1,170.0,0.0,Low Value Segment
4,126343829,F,2013-03-01,North,Delhi,Delhi,20130301,North,Delhi,Delhi,1008.00000,1,60.0,0.0,Low Value Segment
5,8223758,F,2013-03-14,West,Gujarat,Surat,20130314,West,Gujarat,Surat,2606.90000,1,1140.0,0.0,Low Value Segment
6,131816709,M,2013-03-18,South,Andhra Pradesh,Visakhapatnam,20130318,South,Andhra Pradesh,Visakhapatnam,1369.00000,1,79.0,0.0,Low Value Segment
7,118543320,F,2013-03-21,North,Uttar Pradesh,Kanpur,20130321,North,Uttar Pradesh,Kanpur,5690.00000,1,360.0,0.0,Low Value Segment
8,131365512,M,2013-03-23,East,West Bengal,Kolkata,20130331,East,West Bengal,Kolkata,2555.00000,2,190.0,0.0,Low Value Segment
9,758571,M,2013-03-24,South,Karnataka,Bangalore,20130325,West,Maharashtra,Thane,2677.80000,3,145.0,0.0,Low Value Segment
10,85489184,M,2012-01-01,West,Maharashtra,Nagpur,20120101,West,Maharashtra,Nagpur,855.00000,1,35.0,0.0,Low Value Segment
11,85438231,M,2012-01-03,West,Maharashtra,Mumbai,20121111,East,West Bengal,Bhatpara,5969.00000,5,294.0,0.0,Low Value Segment
12,74053888,F,2012-01-02,West,Gujarat,Surat,20130314,West,Gujarat,Surat,9142.49700,10,639.0,2.0,Low Value Segment
13,7256956,M,2012-01-02,North,Rajasthan,Jaipur,20121126,North,Rajasthan,Jaipur,8019.60000,5,609.0,0.0,Low Value Segment
14,1610085,F,2012-01-03,North,Delhi,Delhi,20121013,North,Delhi,Delhi,10380.19900,6,1189.0,0.0,Medium Value Segment
15,7518872,M,2012-01-04,North,Uttar Pradesh,Kanpur,20130123,North,Uttar Pradesh,Kanpur,14587.00000,6,865.0,0.0,Medium Value Segment
16,8638553,M,2012-01-03,West,Gujarat,Ahmedabad,20120103,West,Gujarat,Ahmedabad,1011.00000,1,115.0,0.0,Low Value Segment
17,85438392,M,2012-01-03,West,Gujarat,Ahmedabad,20130212,South,Telangana,Hyderabad,6065.30000,5,485.0,0.0,Low Value Segment
18,63508964,M,2012-01-06,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,145472.70200,36,680.0,16635.0,High Value Segment
19,23667984,F,2012-01-07,West,Maharashtra,Nagpur,20130313,West,Maharashtra,Nagpur,19640.70000,12,268.0,2549.0,Medium Value Segment
20,84634600,M,2012-01-08,South,Karnataka,Bangalore,20130307,South,Karnataka,Bangalore,32377.60200,22,1029.0,1771.0,High Value Segment
21,85207999,M,2012-01-10,South,Andhra Pradesh,Visakhapatnam,20121229,South,Andhra Pradesh,Visakhapatnam,17202.40000,13,449.0,0.0,Medium Value Segment
22,86066230,M,2012-01-11,West,Gujarat,Vadodara,20120111,West,Gujarat,Vadodara,900.50000,1,100.0,0.0,Low Value Segment
23,6888521,M,2012-01-12,West,Maharashtra,Thane,20121210,West,Maharashtra,Pimpri-Chinchwad,4588.99900,4,190.0,0.0,Low Value Segment
24,87030390,M,2012-01-11,East,West Bengal,Kolkata,20130302,East,West Bengal,Kolkata,33047.00400,31,141.0,2214.0,High Value Segment
25,85645488,M,2012-01-11,North,Madhya Pradesh,Bhopal,20120111,North,Madhya Pradesh,Bhopal,878.00000,1,80.0,0.0,Low Value Segment
26,12935950,M,2012-01-13,West,Gujarat,Surat,20120623,West,Gujarat,Ahmedabad,18358.00000,6,874.0,0.0,Medium Value Segment
27,10954886,F,2012-01-15,North,Madhya Pradesh,Indore,20130118,North,Madhya Pradesh,Indore,15426.39800,13,1672.0,0.0,Medium Value Segment
28,84437746,M,2012-01-15,East,West Bengal,Kolkata,20130222,South,Karnataka,Bangalore,5415.00100,6,736.0,0.0,Low Value Segment
29,7514232,M,2012-01-14,North,Delhi,Delhi,20130108,North,Delhi,Delhi,51692.99900,29,4275.0,12.0,High Value Segment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,5599557,F,2012-01-15,West,Gujarat,Rajkot,20130330,West,Gujarat,Rajkot,74662.77636,36,22.0,10472.0,High Value Segment
9971,7956527,F,2012-01-15,North,Delhi,Delhi,20130222,North,Delhi,Delhi,66082.19900,37,2385.0,13520.0,High Value Segment
9972,10184222,M,2012-01-16,North,Uttar Pradesh,Kanpur,20121014,North,Uttar Pradesh,Kanpur,2031.00100,2,215.0,0.0,Low Value Segment
9973,88092811,M,2012-01-16,West,Gujarat,Surat,20130222,West,Gujarat,Surat,14786.60000,12,337.0,300.0,Medium Value Segment
9974,84750517,F,2012-01-19,West,Gujarat,Surat,20130319,West,Gujarat,Surat,20696.90000,11,1935.0,0.0,Medium Value Segment
9975,5686217,M,2012-01-18,West,Maharashtra,Thane,20120524,West,Gujarat,Surat,16858.09900,11,915.0,0.0,Medium Value Segment
9976,63669926,M,2012-01-18,South,Telangana,Hyderabad,20130114,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0,Medium Value Segment
9977,90964885,M,2012-01-21,West,Gujarat,Surat,20120121,West,Gujarat,Surat,198.00000,1,0.0,0.0,Low Value Segment
9978,87989417,M,2012-01-27,West,Gujarat,Surat,20120127,West,Gujarat,Surat,929.99900,1,50.0,0.0,Low Value Segment
9979,6005239,M,2012-01-29,East,West Bengal,Kolkata,20121127,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0,Medium Value Segment
9980,91066310,M,2012-01-30,West,Gujarat,Surat,20130312,West,Gujarat,Surat,11723.00000,10,475.0,0.0,Medium Value Segment
9981,414338,M,2012-01-31,West,Gujarat,Surat,20120131,West,Gujarat,Surat,1080.00000,1,0.0,0.0,Low Value Segment
9982,9144258,M,2012-01-30,South,Tamil Nadu,Chennai,20130313,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0,High Value Segment
9983,91076263,F,2012-01-30,East,West Bengal,Kolkata,20130310,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0,High Value Segment
9984,85012902,M,2012-02-01,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.30000,9,1555.0,0.0,High Value Segment
9985,14762484,M,2012-01-31,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0,High Value Segment
9986,69453769,M,2012-02-01,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,480.00000,1,10.0,580.0,Low Value Segment
9987,7060195,M,2012-02-02,West,Gujarat,Ahmedabad,20130328,West,Gujarat,Ahmedabad,6693.20000,3,645.0,0.0,Low Value Segment
9988,91095093,M,2012-02-01,South,Telangana,Hyderabad,20120201,South,Telangana,Hyderabad,825.99700,1,55.0,0.0,Low Value Segment
9989,91098168,M,2012-02-01,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,408.00000,1,0.0,0.0,Low Value Segment
9990,91227615,M,2012-02-03,West,Gujarat,Surat,20120203,West,Gujarat,Surat,617.00000,1,35.0,0.0,Low Value Segment
9991,91136028,M,2012-02-03,West,Maharashtra,Mumbai,20120523,South,Karnataka,Bangalore,4383.80100,5,10.0,370.0,Low Value Segment
9992,794622,F,2012-02-03,West,Gujarat,Surat,20120508,West,Gujarat,Surat,8081.00000,4,594.0,0.0,Low Value Segment
9993,91289992,M,2012-02-05,West,Maharashtra,Pimpri-Chinchwad,20120205,West,Maharashtra,Pimpri-Chinchwad,1069.00000,1,81.0,0.0,Low Value Segment
9994,73876936,M,2012-02-05,West,Gujarat,Surat,20130218,West,Gujarat,Surat,8059.59900,5,647.0,0.0,Low Value Segment
9995,50093138,M,2012-02-08,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0,Medium Value Segment
9996,92763145,M,2012-02-09,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0,Medium Value Segment
9997,73839417,M,2012-02-10,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0,High Value Segment
9998,69606859,M,2012-02-15,North,Uttar Pradesh,Lucknow,20120215,North,Uttar Pradesh,Lucknow,1116.00000,1,0.0,310.0,Low Value Segment
9999,113292109,M,2012-02-17,West,Maharashtra,Mumbai,20120217,West,Maharashtra,Mumbai,1222.00000,1,60.0,0.0,Low Value Segment

In [45]:
cust

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed,Customer_Value_segment
0,129609144,M,2013-01-30,West,Gujarat,Surat,20130216,West,Gujarat,Surat,2032.00000,2,200.0,0.0,Low Value Segment
1,129627580,M,2013-01-29,North,Delhi,Delhi,20130129,North,Delhi,Delhi,1709.00000,1,100.0,0.0,Low Value Segment
2,130363481,M,2013-02-21,West,Gujarat,Surat,20130221,West,Gujarat,Surat,523.00000,1,10.0,0.0,Low Value Segment
3,49817480,M,2013-02-22,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,5132.00000,1,170.0,0.0,Low Value Segment
4,126343829,F,2013-03-01,North,Delhi,Delhi,20130301,North,Delhi,Delhi,1008.00000,1,60.0,0.0,Low Value Segment
5,8223758,F,2013-03-14,West,Gujarat,Surat,20130314,West,Gujarat,Surat,2606.90000,1,1140.0,0.0,Low Value Segment
6,131816709,M,2013-03-18,South,Andhra Pradesh,Visakhapatnam,20130318,South,Andhra Pradesh,Visakhapatnam,1369.00000,1,79.0,0.0,Low Value Segment
7,118543320,F,2013-03-21,North,Uttar Pradesh,Kanpur,20130321,North,Uttar Pradesh,Kanpur,5690.00000,1,360.0,0.0,Low Value Segment
8,131365512,M,2013-03-23,East,West Bengal,Kolkata,20130331,East,West Bengal,Kolkata,2555.00000,2,190.0,0.0,Low Value Segment
9,758571,M,2013-03-24,South,Karnataka,Bangalore,20130325,West,Maharashtra,Thane,2677.80000,3,145.0,0.0,Low Value Segment
10,85489184,M,2012-01-01,West,Maharashtra,Nagpur,20120101,West,Maharashtra,Nagpur,855.00000,1,35.0,0.0,Low Value Segment
11,85438231,M,2012-01-03,West,Maharashtra,Mumbai,20121111,East,West Bengal,Bhatpara,5969.00000,5,294.0,0.0,Low Value Segment
12,74053888,F,2012-01-02,West,Gujarat,Surat,20130314,West,Gujarat,Surat,9142.49700,10,639.0,2.0,Low Value Segment
13,7256956,M,2012-01-02,North,Rajasthan,Jaipur,20121126,North,Rajasthan,Jaipur,8019.60000,5,609.0,0.0,Low Value Segment
14,1610085,F,2012-01-03,North,Delhi,Delhi,20121013,North,Delhi,Delhi,10380.19900,6,1189.0,0.0,Medium Value Segment
15,7518872,M,2012-01-04,North,Uttar Pradesh,Kanpur,20130123,North,Uttar Pradesh,Kanpur,14587.00000,6,865.0,0.0,Medium Value Segment
16,8638553,M,2012-01-03,West,Gujarat,Ahmedabad,20120103,West,Gujarat,Ahmedabad,1011.00000,1,115.0,0.0,Low Value Segment
17,85438392,M,2012-01-03,West,Gujarat,Ahmedabad,20130212,South,Telangana,Hyderabad,6065.30000,5,485.0,0.0,Low Value Segment
18,63508964,M,2012-01-06,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,145472.70200,36,680.0,16635.0,High Value Segment
19,23667984,F,2012-01-07,West,Maharashtra,Nagpur,20130313,West,Maharashtra,Nagpur,19640.70000,12,268.0,2549.0,Medium Value Segment
20,84634600,M,2012-01-08,South,Karnataka,Bangalore,20130307,South,Karnataka,Bangalore,32377.60200,22,1029.0,1771.0,High Value Segment
21,85207999,M,2012-01-10,South,Andhra Pradesh,Visakhapatnam,20121229,South,Andhra Pradesh,Visakhapatnam,17202.40000,13,449.0,0.0,Medium Value Segment
22,86066230,M,2012-01-11,West,Gujarat,Vadodara,20120111,West,Gujarat,Vadodara,900.50000,1,100.0,0.0,Low Value Segment
23,6888521,M,2012-01-12,West,Maharashtra,Thane,20121210,West,Maharashtra,Pimpri-Chinchwad,4588.99900,4,190.0,0.0,Low Value Segment
24,87030390,M,2012-01-11,East,West Bengal,Kolkata,20130302,East,West Bengal,Kolkata,33047.00400,31,141.0,2214.0,High Value Segment
25,85645488,M,2012-01-11,North,Madhya Pradesh,Bhopal,20120111,North,Madhya Pradesh,Bhopal,878.00000,1,80.0,0.0,Low Value Segment
26,12935950,M,2012-01-13,West,Gujarat,Surat,20120623,West,Gujarat,Ahmedabad,18358.00000,6,874.0,0.0,Medium Value Segment
27,10954886,F,2012-01-15,North,Madhya Pradesh,Indore,20130118,North,Madhya Pradesh,Indore,15426.39800,13,1672.0,0.0,Medium Value Segment
28,84437746,M,2012-01-15,East,West Bengal,Kolkata,20130222,South,Karnataka,Bangalore,5415.00100,6,736.0,0.0,Low Value Segment
29,7514232,M,2012-01-14,North,Delhi,Delhi,20130108,North,Delhi,Delhi,51692.99900,29,4275.0,12.0,High Value Segment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,5599557,F,2012-01-15,West,Gujarat,Rajkot,20130330,West,Gujarat,Rajkot,74662.77636,36,22.0,10472.0,High Value Segment
9971,7956527,F,2012-01-15,North,Delhi,Delhi,20130222,North,Delhi,Delhi,66082.19900,37,2385.0,13520.0,High Value Segment
9972,10184222,M,2012-01-16,North,Uttar Pradesh,Kanpur,20121014,North,Uttar Pradesh,Kanpur,2031.00100,2,215.0,0.0,Low Value Segment
9973,88092811,M,2012-01-16,West,Gujarat,Surat,20130222,West,Gujarat,Surat,14786.60000,12,337.0,300.0,Medium Value Segment
9974,84750517,F,2012-01-19,West,Gujarat,Surat,20130319,West,Gujarat,Surat,20696.90000,11,1935.0,0.0,Medium Value Segment
9975,5686217,M,2012-01-18,West,Maharashtra,Thane,20120524,West,Gujarat,Surat,16858.09900,11,915.0,0.0,Medium Value Segment
9976,63669926,M,2012-01-18,South,Telangana,Hyderabad,20130114,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0,Medium Value Segment
9977,90964885,M,2012-01-21,West,Gujarat,Surat,20120121,West,Gujarat,Surat,198.00000,1,0.0,0.0,Low Value Segment
9978,87989417,M,2012-01-27,West,Gujarat,Surat,20120127,West,Gujarat,Surat,929.99900,1,50.0,0.0,Low Value Segment
9979,6005239,M,2012-01-29,East,West Bengal,Kolkata,20121127,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0,Medium Value Segment
9980,91066310,M,2012-01-30,West,Gujarat,Surat,20130312,West,Gujarat,Surat,11723.00000,10,475.0,0.0,Medium Value Segment
9981,414338,M,2012-01-31,West,Gujarat,Surat,20120131,West,Gujarat,Surat,1080.00000,1,0.0,0.0,Low Value Segment
9982,9144258,M,2012-01-30,South,Tamil Nadu,Chennai,20130313,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0,High Value Segment
9983,91076263,F,2012-01-30,East,West Bengal,Kolkata,20130310,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0,High Value Segment
9984,85012902,M,2012-02-01,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.30000,9,1555.0,0.0,High Value Segment
9985,14762484,M,2012-01-31,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0,High Value Segment
9986,69453769,M,2012-02-01,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,480.00000,1,10.0,580.0,Low Value Segment
9987,7060195,M,2012-02-02,West,Gujarat,Ahmedabad,20130328,West,Gujarat,Ahmedabad,6693.20000,3,645.0,0.0,Low Value Segment
9988,91095093,M,2012-02-01,South,Telangana,Hyderabad,20120201,South,Telangana,Hyderabad,825.99700,1,55.0,0.0,Low Value Segment
9989,91098168,M,2012-02-01,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,408.00000,1,0.0,0.0,Low Value Segment
9990,91227615,M,2012-02-03,West,Gujarat,Surat,20120203,West,Gujarat,Surat,617.00000,1,35.0,0.0,Low Value Segment
9991,91136028,M,2012-02-03,West,Maharashtra,Mumbai,20120523,South,Karnataka,Bangalore,4383.80100,5,10.0,370.0,Low Value Segment
9992,794622,F,2012-02-03,West,Gujarat,Surat,20120508,West,Gujarat,Surat,8081.00000,4,594.0,0.0,Low Value Segment
9993,91289992,M,2012-02-05,West,Maharashtra,Pimpri-Chinchwad,20120205,West,Maharashtra,Pimpri-Chinchwad,1069.00000,1,81.0,0.0,Low Value Segment
9994,73876936,M,2012-02-05,West,Gujarat,Surat,20130218,West,Gujarat,Surat,8059.59900,5,647.0,0.0,Low Value Segment
9995,50093138,M,2012-02-08,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0,Medium Value Segment
9996,92763145,M,2012-02-09,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0,Medium Value Segment
9997,73839417,M,2012-02-10,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0,High Value Segment
9998,69606859,M,2012-02-15,North,Uttar Pradesh,Lucknow,20120215,North,Uttar Pradesh,Lucknow,1116.00000,1,0.0,310.0,Low Value Segment
9999,113292109,M,2012-02-17,West,Maharashtra,Mumbai,20120217,West,Maharashtra,Mumbai,1222.00000,1,60.0,0.0,Low Value Segment

In [ ]:
#7. Create variables “average revenue per trip” and “balance points” in the customer data set.

In [120]:
cust.assign(average_revenue_per_trip = cust['Customer_Value'].mean(),balance_points = cust['Points_Earned']-cust['Points_Redeemed'])

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed,Customer_Value_segment,average_revenue_per_trip,balance_points
0,129609144,M,2013-01-30,West,Gujarat,Surat,20130216,West,Gujarat,Surat,2032.00000,2,200.0,0.0,Low Value Segment,12544.894139,200.0
1,129627580,M,2013-01-29,North,Delhi,Delhi,20130129,North,Delhi,Delhi,1709.00000,1,100.0,0.0,Low Value Segment,12544.894139,100.0
2,130363481,M,2013-02-21,West,Gujarat,Surat,20130221,West,Gujarat,Surat,523.00000,1,10.0,0.0,Low Value Segment,12544.894139,10.0
3,49817480,M,2013-02-22,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,5132.00000,1,170.0,0.0,Low Value Segment,12544.894139,170.0
4,126343829,F,2013-03-01,North,Delhi,Delhi,20130301,North,Delhi,Delhi,1008.00000,1,60.0,0.0,Low Value Segment,12544.894139,60.0
5,8223758,F,2013-03-14,West,Gujarat,Surat,20130314,West,Gujarat,Surat,2606.90000,1,1140.0,0.0,Low Value Segment,12544.894139,1140.0
6,131816709,M,2013-03-18,South,Andhra Pradesh,Visakhapatnam,20130318,South,Andhra Pradesh,Visakhapatnam,1369.00000,1,79.0,0.0,Low Value Segment,12544.894139,79.0
7,118543320,F,2013-03-21,North,Uttar Pradesh,Kanpur,20130321,North,Uttar Pradesh,Kanpur,5690.00000,1,360.0,0.0,Low Value Segment,12544.894139,360.0
8,131365512,M,2013-03-23,East,West Bengal,Kolkata,20130331,East,West Bengal,Kolkata,2555.00000,2,190.0,0.0,Low Value Segment,12544.894139,190.0
9,758571,M,2013-03-24,South,Karnataka,Bangalore,20130325,West,Maharashtra,Thane,2677.80000,3,145.0,0.0,Low Value Segment,12544.894139,145.0
10,85489184,M,2012-01-01,West,Maharashtra,Nagpur,20120101,West,Maharashtra,Nagpur,855.00000,1,35.0,0.0,Low Value Segment,12544.894139,35.0
11,85438231,M,2012-01-03,West,Maharashtra,Mumbai,20121111,East,West Bengal,Bhatpara,5969.00000,5,294.0,0.0,Low Value Segment,12544.894139,294.0
12,74053888,F,2012-01-02,West,Gujarat,Surat,20130314,West,Gujarat,Surat,9142.49700,10,639.0,2.0,Low Value Segment,12544.894139,637.0
13,7256956,M,2012-01-02,North,Rajasthan,Jaipur,20121126,North,Rajasthan,Jaipur,8019.60000,5,609.0,0.0,Low Value Segment,12544.894139,609.0
14,1610085,F,2012-01-03,North,Delhi,Delhi,20121013,North,Delhi,Delhi,10380.19900,6,1189.0,0.0,Medium Value Segment,12544.894139,1189.0
15,7518872,M,2012-01-04,North,Uttar Pradesh,Kanpur,20130123,North,Uttar Pradesh,Kanpur,14587.00000,6,865.0,0.0,Medium Value Segment,12544.894139,865.0
16,8638553,M,2012-01-03,West,Gujarat,Ahmedabad,20120103,West,Gujarat,Ahmedabad,1011.00000,1,115.0,0.0,Low Value Segment,12544.894139,115.0
17,85438392,M,2012-01-03,West,Gujarat,Ahmedabad,20130212,South,Telangana,Hyderabad,6065.30000,5,485.0,0.0,Low Value Segment,12544.894139,485.0
18,63508964,M,2012-01-06,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,145472.70200,36,680.0,16635.0,High Value Segment,12544.894139,-15955.0
19,23667984,F,2012-01-07,West,Maharashtra,Nagpur,20130313,West,Maharashtra,Nagpur,19640.70000,12,268.0,2549.0,Medium Value Segment,12544.894139,-2281.0
20,84634600,M,2012-01-08,South,Karnataka,Bangalore,20130307,South,Karnataka,Bangalore,32377.60200,22,1029.0,1771.0,High Value Segment,12544.894139,-742.0
21,85207999,M,2012-01-10,South,Andhra Pradesh,Visakhapatnam,20121229,South,Andhra Pradesh,Visakhapatnam,17202.40000,13,449.0,0.0,Medium Value Segment,12544.894139,449.0
22,86066230,M,2012-01-11,West,Gujarat,Vadodara,20120111,West,Gujarat,Vadodara,900.50000,1,100.0,0.0,Low Value Segment,12544.894139,100.0
23,6888521,M,2012-01-12,West,Maharashtra,Thane,20121210,West,Maharashtra,Pimpri-Chinchwad,4588.99900,4,190.0,0.0,Low Value Segment,12544.894139,190.0
24,87030390,M,2012-01-11,East,West Bengal,Kolkata,20130302,East,West Bengal,Kolkata,33047.00400,31,141.0,2214.0,High Value Segment,12544.894139,-2073.0
25,85645488,M,2012-01-11,North,Madhya Pradesh,Bhopal,20120111,North,Madhya Pradesh,Bhopal,878.00000,1,80.0,0.0,Low Value Segment,12544.894139,80.0
26,12935950,M,2012-01-13,West,Gujarat,Surat,20120623,West,Gujarat,Ahmedabad,18358.00000,6,874.0,0.0,Medium Value Segment,12544.894139,874.0
27,10954886,F,2012-01-15,North,Madhya Pradesh,Indore,20130118,North,Madhya Pradesh,Indore,15426.39800,13,1672.0,0.0,Medium Value Segment,12544.894139,1672.0
28,84437746,M,2012-01-15,East,West Bengal,Kolkata,20130222,South,Karnataka,Bangalore,5415.00100,6,736.0,0.0,Low Value Segment,12544.894139,736.0
29,7514232,M,2012-01-14,North,Delhi,Delhi,20130108,North,Delhi,Delhi,51692.99900,29,4275.0,12.0,High Value Segment,12544.894139,4263.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,5599557,F,2012-01-15,West,Gujarat,Rajkot,20130330,West,Gujarat,Rajkot,74662.77636,36,22.0,10472.0,High Value Segment,12544.894139,-10450.0
9971,7956527,F,2012-01-15,North,Delhi,Delhi,20130222,North,Delhi,Delhi,66082.19900,37,2385.0,13520.0,High Value Segment,12544.894139,-11135.0
9972,10184222,M,2012-01-16,North,Uttar Pradesh,Kanpur,20121014,North,Uttar Pradesh,Kanpur,2031.00100,2,215.0,0.0,Low Value Segment,12544.894139,215.0
9973,88092811,M,2012-01-16,West,Gujarat,Surat,20130222,West,Gujarat,Surat,14786.60000,12,337.0,300.0,Medium Value Segment,12544.894139,37.0
9974,84750517,F,2012-01-19,West,Gujarat,Surat,20130319,West,Gujarat,Surat,20696.90000,11,1935.0,0.0,Medium Value Segment,12544.894139,1935.0
9975,5686217,M,2012-01-18,West,Maharashtra,Thane,20120524,West,Gujarat,Surat,16858.09900,11,915.0,0.0,Medium Value Segment,12544.894139,915.0
9976,63669926,M,2012-01-18,South,Telangana,Hyderabad,20130114,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0,Medium Value Segment,12544.894139,1030.0
9977,90964885,M,2012-01-21,West,Gujarat,Surat,20120121,West,Gujarat,Surat,198.00000,1,0.0,0.0,Low Value Segment,12544.894139,0.0
9978,87989417,M,2012-01-27,West,Gujarat,Surat,20120127,West,Gujarat,Surat,929.99900,1,50.0,0.0,Low Value Segment,12544.894139,50.0
9979,6005239,M,2012-01-29,East,West Bengal,Kolkata,20121127,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0,Medium Value Segment,12544.894139,600.0
9980,91066310,M,2012-01-30,West,Gujarat,Surat,20130312,West,Gujarat,Surat,11723.00000,10,475.0,0.0,Medium Value Segment,12544.894139,475.0
9981,414338,M,2012-01-31,West,Gujarat,Surat,20120131,West,Gujarat,Surat,1080.00000,1,0.0,0.0,Low Value Segment,12544.894139,0.0
9982,9144258,M,2012-01-30,South,Tamil Nadu,Chennai,20130313,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0,High Value Segment,12544.894139,4441.0
9983,91076263,F,2012-01-30,East,West Bengal,Kolkata,20130310,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0,High Value Segment,12544.894139,1591.0
9984,85012902,M,2012-02-01,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.30000,9,1555.0,0.0,High Value Segment,12544.894139,1555.0
9985,14762484,M,2012-01-31,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0,High Value Segment,12544.894139,4317.0
9986,69453769,M,2012-02-01,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,480.00000,1,10.0,580.0,Low Value Segment,12544.894139,-570.0
9987,7060195,M,2012-02-02,West,Gujarat,Ahmedabad,20130328,West,Gujarat,Ahmedabad,6693.20000,3,645.0,0.0,Low Value Segment,12544.894139,645.0
9988,91095093,M,2012-02-01,South,Telangana,Hyderabad,20120201,South,Telangana,Hyderabad,825.99700,1,55.0,0.0,Low Value Segment,12544.894139,55.0
9989,91098168,M,2012-02-01,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,408.00000,1,0.0,0.0,Low Value Segment,12544.894139,0.0
9990,91227615,M,2012-02-03,West,Gujarat,Surat,20120203,West,Gujarat,Surat,617.00000,1,35.0,0.0,Low Value Segment,12544.894139,35.0
9991,91136028,M,2012-02-03,West,Maharashtra,Mumbai,20120523,South,Karnataka,Bangalore,4383.80100,5,10.0,370.0,Low Value Segment,12544.894139,-360.0
9992,794622,F,2012-02-03,West,Gujarat,Surat,20120508,West,Gujarat,Surat,8081.00000,4,594.0,0.0,Low Value Segment,12544.894139,594.0
9993,91289992,M,2012-02-05,West,Maharashtra,Pimpri-Chinchwad,20120205,West,Maharashtra,Pimpri-Chinchwad,1069.00000,1,81.0,0.0,Low Value Segment,12544.894139,81.0
9994,73876936,M,2012-02-05,West,Gujarat,Surat,20130218,West,Gujarat,Surat,8059.59900,5,647.0,0.0,Low Value Segment,12544.894139,647.0
9995,50093138,M,2012-02-08,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0,Medium Value Segment,12544.894139,-605.0
9996,92763145,M,2012-02-09,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0,Medium Value Segment,12544.894139,870.0
9997,73839417,M,2012-02-10,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0,High Value Segment,12544.894139,1657.0
9998,69606859,M,2012-02-15,North,Uttar Pradesh,Lucknow,20120215,North,Uttar Pradesh,Lucknow,1116.00000,1,0.0,310.0,Low Value Segment,12544.894139,-310.0
9999,113292109,M,2012-02-17,West,Maharashtra,Mumbai,20120217,West,Maharashtra,Mumbai,1222.00000,1,60.0,0.0,Low Value Segment,12544.894139,60.0

In [ ]:
#8. How many days between last purchase date and today?

In [125]:
import datetime as dt

now = dt.datetime.today().strftime('%Y%m%d')
now = pd.to_datetime(now,format = '%Y%m%d')
cust['Recent_Date'] = pd.to_datetime(cust.Recent_Date, format='%Y%m%d')
cust.assign(numb_days = now - cust['Recent_Date'] )

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed,Customer_Value_segment,numb_days
0,129609144,M,2013-01-30,West,Gujarat,Surat,2013-02-16,West,Gujarat,Surat,2032.00000,2,200.0,0.0,Low Value Segment,2113 days
1,129627580,M,2013-01-29,North,Delhi,Delhi,2013-01-29,North,Delhi,Delhi,1709.00000,1,100.0,0.0,Low Value Segment,2131 days
2,130363481,M,2013-02-21,West,Gujarat,Surat,2013-02-21,West,Gujarat,Surat,523.00000,1,10.0,0.0,Low Value Segment,2108 days
3,49817480,M,2013-02-22,West,Maharashtra,Pimpri-Chinchwad,2013-02-22,West,Maharashtra,Pimpri-Chinchwad,5132.00000,1,170.0,0.0,Low Value Segment,2107 days
4,126343829,F,2013-03-01,North,Delhi,Delhi,2013-03-01,North,Delhi,Delhi,1008.00000,1,60.0,0.0,Low Value Segment,2100 days
5,8223758,F,2013-03-14,West,Gujarat,Surat,2013-03-14,West,Gujarat,Surat,2606.90000,1,1140.0,0.0,Low Value Segment,2087 days
6,131816709,M,2013-03-18,South,Andhra Pradesh,Visakhapatnam,2013-03-18,South,Andhra Pradesh,Visakhapatnam,1369.00000,1,79.0,0.0,Low Value Segment,2083 days
7,118543320,F,2013-03-21,North,Uttar Pradesh,Kanpur,2013-03-21,North,Uttar Pradesh,Kanpur,5690.00000,1,360.0,0.0,Low Value Segment,2080 days
8,131365512,M,2013-03-23,East,West Bengal,Kolkata,2013-03-31,East,West Bengal,Kolkata,2555.00000,2,190.0,0.0,Low Value Segment,2070 days
9,758571,M,2013-03-24,South,Karnataka,Bangalore,2013-03-25,West,Maharashtra,Thane,2677.80000,3,145.0,0.0,Low Value Segment,2076 days
10,85489184,M,2012-01-01,West,Maharashtra,Nagpur,2012-01-01,West,Maharashtra,Nagpur,855.00000,1,35.0,0.0,Low Value Segment,2525 days
11,85438231,M,2012-01-03,West,Maharashtra,Mumbai,2012-11-11,East,West Bengal,Bhatpara,5969.00000,5,294.0,0.0,Low Value Segment,2210 days
12,74053888,F,2012-01-02,West,Gujarat,Surat,2013-03-14,West,Gujarat,Surat,9142.49700,10,639.0,2.0,Low Value Segment,2087 days
13,7256956,M,2012-01-02,North,Rajasthan,Jaipur,2012-11-26,North,Rajasthan,Jaipur,8019.60000,5,609.0,0.0,Low Value Segment,2195 days
14,1610085,F,2012-01-03,North,Delhi,Delhi,2012-10-13,North,Delhi,Delhi,10380.19900,6,1189.0,0.0,Medium Value Segment,2239 days
15,7518872,M,2012-01-04,North,Uttar Pradesh,Kanpur,2013-01-23,North,Uttar Pradesh,Kanpur,14587.00000,6,865.0,0.0,Medium Value Segment,2137 days
16,8638553,M,2012-01-03,West,Gujarat,Ahmedabad,2012-01-03,West,Gujarat,Ahmedabad,1011.00000,1,115.0,0.0,Low Value Segment,2523 days
17,85438392,M,2012-01-03,West,Gujarat,Ahmedabad,2013-02-12,South,Telangana,Hyderabad,6065.30000,5,485.0,0.0,Low Value Segment,2117 days
18,63508964,M,2012-01-06,West,Maharashtra,Pimpri-Chinchwad,2013-02-22,West,Maharashtra,Pimpri-Chinchwad,145472.70200,36,680.0,16635.0,High Value Segment,2107 days
19,23667984,F,2012-01-07,West,Maharashtra,Nagpur,2013-03-13,West,Maharashtra,Nagpur,19640.70000,12,268.0,2549.0,Medium Value Segment,2088 days
20,84634600,M,2012-01-08,South,Karnataka,Bangalore,2013-03-07,South,Karnataka,Bangalore,32377.60200,22,1029.0,1771.0,High Value Segment,2094 days
21,85207999,M,2012-01-10,South,Andhra Pradesh,Visakhapatnam,2012-12-29,South,Andhra Pradesh,Visakhapatnam,17202.40000,13,449.0,0.0,Medium Value Segment,2162 days
22,86066230,M,2012-01-11,West,Gujarat,Vadodara,2012-01-11,West,Gujarat,Vadodara,900.50000,1,100.0,0.0,Low Value Segment,2515 days
23,6888521,M,2012-01-12,West,Maharashtra,Thane,2012-12-10,West,Maharashtra,Pimpri-Chinchwad,4588.99900,4,190.0,0.0,Low Value Segment,2181 days
24,87030390,M,2012-01-11,East,West Bengal,Kolkata,2013-03-02,East,West Bengal,Kolkata,33047.00400,31,141.0,2214.0,High Value Segment,2099 days
25,85645488,M,2012-01-11,North,Madhya Pradesh,Bhopal,2012-01-11,North,Madhya Pradesh,Bhopal,878.00000,1,80.0,0.0,Low Value Segment,2515 days
26,12935950,M,2012-01-13,West,Gujarat,Surat,2012-06-23,West,Gujarat,Ahmedabad,18358.00000,6,874.0,0.0,Medium Value Segment,2351 days
27,10954886,F,2012-01-15,North,Madhya Pradesh,Indore,2013-01-18,North,Madhya Pradesh,Indore,15426.39800,13,1672.0,0.0,Medium Value Segment,2142 days
28,84437746,M,2012-01-15,East,West Bengal,Kolkata,2013-02-22,South,Karnataka,Bangalore,5415.00100,6,736.0,0.0,Low Value Segment,2107 days
29,7514232,M,2012-01-14,North,Delhi,Delhi,2013-01-08,North,Delhi,Delhi,51692.99900,29,4275.0,12.0,High Value Segment,2152 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,5599557,F,2012-01-15,West,Gujarat,Rajkot,2013-03-30,West,Gujarat,Rajkot,74662.77636,36,22.0,10472.0,High Value Segment,2071 days
9971,7956527,F,2012-01-15,North,Delhi,Delhi,2013-02-22,North,Delhi,Delhi,66082.19900,37,2385.0,13520.0,High Value Segment,2107 days
9972,10184222,M,2012-01-16,North,Uttar Pradesh,Kanpur,2012-10-14,North,Uttar Pradesh,Kanpur,2031.00100,2,215.0,0.0,Low Value Segment,2238 days
9973,88092811,M,2012-01-16,West,Gujarat,Surat,2013-02-22,West,Gujarat,Surat,14786.60000,12,337.0,300.0,Medium Value Segment,2107 days
9974,84750517,F,2012-01-19,West,Gujarat,Surat,2013-03-19,West,Gujarat,Surat,20696.90000,11,1935.0,0.0,Medium Value Segment,2082 days
9975,5686217,M,2012-01-18,West,Maharashtra,Thane,2012-05-24,West,Gujarat,Surat,16858.09900,11,915.0,0.0,Medium Value Segment,2381 days
9976,63669926,M,2012-01-18,South,Telangana,Hyderabad,2013-01-14,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0,Medium Value Segment,2146 days
9977,90964885,M,2012-01-21,West,Gujarat,Surat,2012-01-21,West,Gujarat,Surat,198.00000,1,0.0,0.0,Low Value Segment,2505 days
9978,87989417,M,2012-01-27,West,Gujarat,Surat,2012-01-27,West,Gujarat,Surat,929.99900,1,50.0,0.0,Low Value Segment,2499 days
9979,6005239,M,2012-01-29,East,West Bengal,Kolkata,2012-11-27,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0,Medium Value Segment,2194 days
9980,91066310,M,2012-01-30,West,Gujarat,Surat,2013-03-12,West,Gujarat,Surat,11723.00000,10,475.0,0.0,Medium Value Segment,2089 days
9981,414338,M,2012-01-31,West,Gujarat,Surat,2012-01-31,West,Gujarat,Surat,1080.00000,1,0.0,0.0,Low Value Segment,2495 days
9982,9144258,M,2012-01-30,South,Tamil Nadu,Chennai,2013-03-13,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0,High Value Segment,2088 days
9983,91076263,F,2012-01-30,East,West Bengal,Kolkata,2013-03-10,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0,High Value Segment,2091 days
9984,85012902,M,2012-02-01,West,Gujarat,Surat,2013-03-10,West,Gujarat,Surat,30123.30000,9,1555.0,0.0,High Value Segment,2091 days
9985,14762484,M,2012-01-31,North,Madhya Pradesh,Indore,2012-12-11,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0,High Value Segment,2180 days
9986,69453769,M,2012-02-01,South,Tamil Nadu,Chennai,2012-02-01,South,Tamil Nadu,Chennai,480.00000,1,10.0,580.0,Low Value Segment,2494 days
9987,7060195,M,2012-02-02,West,Gujarat,Ahmedabad,2013-03-28,West,Gujarat,Ahmedabad,6693.20000,3,645.0,0.0,Low Value Segment,2073 days
9988,91095093,M,2012-02-01,South,Telangana,Hyderabad,2012-02-01,South,Telangana,Hyderabad,825.99700,1,55.0,0.0,Low Value Segment,2494 days
9989,91098168,M,2012-02-01,South,Tamil Nadu,Chennai,2012-02-01,South,Tamil Nadu,Chennai,408.00000,1,0.0,0.0,Low Value Segment,2494 days
9990,91227615,M,2012-02-03,West,Gujarat,Surat,2012-02-03,West,Gujarat,Surat,617.00000,1,35.0,0.0,Low Value Segment,2492 days
9991,91136028,M,2012-02-03,West,Maharashtra,Mumbai,2012-05-23,South,Karnataka,Bangalore,4383.80100,5,10.0,370.0,Low Value Segment,2382 days
9992,794622,F,2012-02-03,West,Gujarat,Surat,2012-05-08,West,Gujarat,Surat,8081.00000,4,594.0,0.0,Low Value Segment,2397 days
9993,91289992,M,2012-02-05,West,Maharashtra,Pimpri-Chinchwad,2012-02-05,West,Maharashtra,Pimpri-Chinchwad,1069.00000,1,81.0,0.0,Low Value Segment,2490 days
9994,73876936,M,2012-02-05,West,Gujarat,Surat,2013-02-18,West,Gujarat,Surat,8059.59900,5,647.0,0.0,Low Value Segment,2111 days
9995,50093138,M,2012-02-08,North,Uttar Pradesh,Agra,2012-11-14,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0,Medium Value Segment,2207 days
9996,92763145,M,2012-02-09,South,Telangana,Hyderabad,2013-03-19,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0,Medium Value Segment,2082 days
9997,73839417,M,2012-02-10,South,Karnataka,Bangalore,2013-02-16,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0,High Value Segment,2113 days
9998,69606859,M,2012-02-15,North,Uttar Pradesh,Lucknow,2012-02-15,North,Uttar Pradesh,Lucknow,1116.00000,1,0.0,310.0,Low Value Segment,2480 days
9999,113292109,M,2012-02-17,West,Maharashtra,Mumbai,2012-02-17,West,Maharashtra,Mumbai,1222.00000,1,60.0,0.0,Low Value Segment,2478 days

In [107]:
#9. Calculate percentage of sales by each last city, state and region.

In [244]:
totalsales = cust.groupby(['Last_region','Last_city','Last_state'])['Customer_Value'].transform('sum')
cust['pctsales'] = cust['Customer_Value']*100/totalsales
cust

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed,Customer_Value_segment,salesbyctr,pctsales
0,129609144,M,2013-01-30,West,Gujarat,Surat,2013-02-16,West,Gujarat,Surat,2032.00000,2,200.0,0.0,Low Value Segment,None,0.006551
1,129627580,M,2013-01-29,North,Delhi,Delhi,2013-01-29,North,Delhi,Delhi,1709.00000,1,100.0,0.0,Low Value Segment,None,0.015933
2,130363481,M,2013-02-21,West,Gujarat,Surat,2013-02-21,West,Gujarat,Surat,523.00000,1,10.0,0.0,Low Value Segment,None,0.001686
3,49817480,M,2013-02-22,West,Maharashtra,Pimpri-Chinchwad,2013-02-22,West,Maharashtra,Pimpri-Chinchwad,5132.00000,1,170.0,0.0,Low Value Segment,None,0.123868
4,126343829,F,2013-03-01,North,Delhi,Delhi,2013-03-01,North,Delhi,Delhi,1008.00000,1,60.0,0.0,Low Value Segment,None,0.009397
5,8223758,F,2013-03-14,West,Gujarat,Surat,2013-03-14,West,Gujarat,Surat,2606.90000,1,1140.0,0.0,Low Value Segment,None,0.008404
6,131816709,M,2013-03-18,South,Andhra Pradesh,Visakhapatnam,2013-03-18,South,Andhra Pradesh,Visakhapatnam,1369.00000,1,79.0,0.0,Low Value Segment,None,0.105080
7,118543320,F,2013-03-21,North,Uttar Pradesh,Kanpur,2013-03-21,North,Uttar Pradesh,Kanpur,5690.00000,1,360.0,0.0,Low Value Segment,None,0.060009
8,131365512,M,2013-03-23,East,West Bengal,Kolkata,2013-03-31,East,West Bengal,Kolkata,2555.00000,2,190.0,0.0,Low Value Segment,None,0.036675
9,758571,M,2013-03-24,South,Karnataka,Bangalore,2013-03-25,West,Maharashtra,Thane,2677.80000,3,145.0,0.0,Low Value Segment,None,0.903140
10,85489184,M,2012-01-01,West,Maharashtra,Nagpur,2012-01-01,West,Maharashtra,Nagpur,855.00000,1,35.0,0.0,Low Value Segment,None,0.040452
11,85438231,M,2012-01-03,West,Maharashtra,Mumbai,2012-11-11,East,West Bengal,Bhatpara,5969.00000,5,294.0,0.0,Low Value Segment,None,7.515361
12,74053888,F,2012-01-02,West,Gujarat,Surat,2013-03-14,West,Gujarat,Surat,9142.49700,10,639.0,2.0,Low Value Segment,None,0.029473
13,7256956,M,2012-01-02,North,Rajasthan,Jaipur,2012-11-26,North,Rajasthan,Jaipur,8019.60000,5,609.0,0.0,Low Value Segment,None,0.229102
14,1610085,F,2012-01-03,North,Delhi,Delhi,2012-10-13,North,Delhi,Delhi,10380.19900,6,1189.0,0.0,Medium Value Segment,None,0.096773
15,7518872,M,2012-01-04,North,Uttar Pradesh,Kanpur,2013-01-23,North,Uttar Pradesh,Kanpur,14587.00000,6,865.0,0.0,Medium Value Segment,None,0.153840
16,8638553,M,2012-01-03,West,Gujarat,Ahmedabad,2012-01-03,West,Gujarat,Ahmedabad,1011.00000,1,115.0,0.0,Low Value Segment,None,0.013339
17,85438392,M,2012-01-03,West,Gujarat,Ahmedabad,2013-02-12,South,Telangana,Hyderabad,6065.30000,5,485.0,0.0,Low Value Segment,None,0.127465
18,63508964,M,2012-01-06,West,Maharashtra,Pimpri-Chinchwad,2013-02-22,West,Maharashtra,Pimpri-Chinchwad,145472.70200,36,680.0,16635.0,High Value Segment,None,3.511176
19,23667984,F,2012-01-07,West,Maharashtra,Nagpur,2013-03-13,West,Maharashtra,Nagpur,19640.70000,12,268.0,2549.0,Medium Value Segment,None,0.929249
20,84634600,M,2012-01-08,South,Karnataka,Bangalore,2013-03-07,South,Karnataka,Bangalore,32377.60200,22,1029.0,1771.0,High Value Segment,None,0.494075
21,85207999,M,2012-01-10,South,Andhra Pradesh,Visakhapatnam,2012-12-29,South,Andhra Pradesh,Visakhapatnam,17202.40000,13,449.0,0.0,Medium Value Segment,None,1.320406
22,86066230,M,2012-01-11,West,Gujarat,Vadodara,2012-01-11,West,Gujarat,Vadodara,900.50000,1,100.0,0.0,Low Value Segment,None,0.024129
23,6888521,M,2012-01-12,West,Maharashtra,Thane,2012-12-10,West,Maharashtra,Pimpri-Chinchwad,4588.99900,4,190.0,0.0,Low Value Segment,None,0.110762
24,87030390,M,2012-01-11,East,West Bengal,Kolkata,2013-03-02,East,West Bengal,Kolkata,33047.00400,31,141.0,2214.0,High Value Segment,None,0.474361
25,85645488,M,2012-01-11,North,Madhya Pradesh,Bhopal,2012-01-11,North,Madhya Pradesh,Bhopal,878.00000,1,80.0,0.0,Low Value Segment,None,0.026936
26,12935950,M,2012-01-13,West,Gujarat,Surat,2012-06-23,West,Gujarat,Ahmedabad,18358.00000,6,874.0,0.0,Medium Value Segment,None,0.242217
27,10954886,F,2012-01-15,North,Madhya Pradesh,Indore,2013-01-18,North,Madhya Pradesh,Indore,15426.39800,13,1672.0,0.0,Medium Value Segment,None,0.490360
28,84437746,M,2012-01-15,East,West Bengal,Kolkata,2013-02-22,South,Karnataka,Bangalore,5415.00100,6,736.0,0.0,Low Value Segment,None,0.082632
29,7514232,M,2012-01-14,North,Delhi,Delhi,2013-01-08,North,Delhi,Delhi,51692.99900,29,4275.0,12.0,High Value Segment,None,0.481924
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,5599557,F,2012-01-15,West,Gujarat,Rajkot,2013-03-30,West,Gujarat,Rajkot,74662.77636,36,22.0,10472.0,High Value Segment,None,1.640181
9971,7956527,F,2012-01-15,North,Delhi,Delhi,2013-02-22,North,Delhi,Delhi,66082.19900,37,2385.0,13520.0,High Value Segment,None,0.616072
9972,10184222,M,2012-01-16,North,Uttar Pradesh,Kanpur,2012-10-14,North,Uttar Pradesh,Kanpur,2031.00100,2,215.0,0.0,Low Value Segment,None,0.021420
9973,88092811,M,2012-01-16,West,Gujarat,Surat,2013-02-22,West,Gujarat,Surat,14786.60000,12,337.0,300.0,Medium Value Segment,None,0.047668
9974,84750517,F,2012-01-19,West,Gujarat,Surat,2013-03-19,West,Gujarat,Surat,20696.90000,11,1935.0,0.0,Medium Value Segment,None,0.066721
9975,5686217,M,2012-01-18,West,Maharashtra,Thane,2012-05-24,West,Gujarat,Surat,16858.09900,11,915.0,0.0,Medium Value Segment,None,0.054346
9976,63669926,M,2012-01-18,South,Telangana,Hyderabad,2013-01-14,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0,Medium Value Segment,None,0.270322
9977,90964885,M,2012-01-21,West,Gujarat,Surat,2012-01-21,West,Gujarat,Surat,198.00000,1,0.0,0.0,Low Value Segment,None,0.000638
9978,87989417,M,2012-01-27,West,Gujarat,Surat,2012-01-27,West,Gujarat,Surat,929.99900,1,50.0,0.0,Low Value Segment,None,0.002998
9979,6005239,M,2012-01-29,East,West Bengal,Kolkata,2012-11-27,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0,Medium Value Segment,None,0.257372
9980,91066310,M,2012-01-30,West,Gujarat,Surat,2013-03-12,West,Gujarat,Surat,11723.00000,10,475.0,0.0,Medium Value Segment,None,0.037792
9981,414338,M,2012-01-31,West,Gujarat,Surat,2012-01-31,West,Gujarat,Surat,1080.00000,1,0.0,0.0,Low Value Segment,None,0.003482
9982,9144258,M,2012-01-30,South,Tamil Nadu,Chennai,2013-03-13,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0,High Value Segment,None,0.663080
9983,91076263,F,2012-01-30,East,West Bengal,Kolkata,2013-03-10,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0,High Value Segment,None,0.495115
9984,85012902,M,2012-02-01,West,Gujarat,Surat,2013-03-10,West,Gujarat,Surat,30123.30000,9,1555.0,0.0,High Value Segment,None,0.097109
9985,14762484,M,2012-01-31,North,Madhya Pradesh,Indore,2012-12-11,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0,High Value Segment,None,2.712250
9986,69453769,M,2012-02-01,South,Tamil Nadu,Chennai,2012-02-01,South,Tamil Nadu,Chennai,480.00000,1,10.0,580.0,Low Value Segment,None,0.008725
9987,7060195,M,2012-02-02,West,Gujarat,Ahmedabad,2013-03-28,West,Gujarat,Ahmedabad,6693.20000,3,645.0,0.0,Low Value Segment,None,0.088311
9988,91095093,M,2012-02-01,South,Telangana,Hyderabad,2012-02-01,South,Telangana,Hyderabad,825.99700,1,55.0,0.0,Low Value Segment,None,0.017359
9989,91098168,M,2012-02-01,South,Tamil Nadu,Chennai,2012-02-01,South,Tamil Nadu,Chennai,408.00000,1,0.0,0.0,Low Value Segment,None,0.007416
9990,91227615,M,2012-02-03,West,Gujarat,Surat,2012-02-03,West,Gujarat,Surat,617.00000,1,35.0,0.0,Low Value Segment,None,0.001989
9991,91136028,M,2012-02-03,West,Maharashtra,Mumbai,2012-05-23,South,Karnataka,Bangalore,4383.80100,5,10.0,370.0,Low Value Segment,None,0.066896
9992,794622,F,2012-02-03,West,Gujarat,Surat,2012-05-08,West,Gujarat,Surat,8081.00000,4,594.0,0.0,Low Value Segment,None,0.026051
9993,91289992,M,2012-02-05,West,Maharashtra,Pimpri-Chinchwad,2012-02-05,West,Maharashtra,Pimpri-Chinchwad,1069.00000,1,81.0,0.0,Low Value Segment,None,0.025802
9994,73876936,M,2012-02-05,West,Gujarat,Surat,2013-02-18,West,Gujarat,Surat,8059.59900,5,647.0,0.0,Low Value Segment,None,0.025982
9995,50093138,M,2012-02-08,North,Uttar Pradesh,Agra,2012-11-14,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0,Medium Value Segment,None,4.110677
9996,92763145,M,2012-02-09,South,Telangana,Hyderabad,2013-03-19,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0,Medium Value Segment,None,0.273548
9997,73839417,M,2012-02-10,South,Karnataka,Bangalore,2013-02-16,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0,High Value Segment,None,0.672313
9998,69606859,M,2012-02-15,North,Uttar Pradesh,Lucknow,2012-02-15,North,Uttar Pradesh,Lucknow,1116.00000,1,0.0,310.0,Low Value Segment,None,0.048309
9999,113292109,M,2012-02-17,West,Maharashtra,Mumbai,2012-02-17,West,Maharashtra,Mumbai,1222.00000,1,60.0,0.0,Low Value Segment,None,0.019203

In [1]:
#10. What is the count of customers, average number of purchases and average purchase transaction value by last state 
#and city.

In [253]:
cust['Customer_ID'].count()
cust.groupby(['Last_city','Last_state'])['Customer_ID'].count()

Last_city           Last_state
Agartala            Tripura                 3
Agra                Uttar Pradesh          13
Ahmedabad           Gujarat               621
Aligarh             Uttar Pradesh           9
Allahabad           Uttar Pradesh           2
Ambattur            Tamil Nadu             10
Ambernath           Maharashtra             1
Asansol             West Bengal             1
Aurangabad          Maharashtra             4
Bangalore           Karnataka             631
Baranagar           West Bengal             2
Barasat             West Bengal             1
Bareilly            Uttar Pradesh           3
Begusarai           Bihar                   1
Bhagalpur           Bihar                   1
Bharatpur           Rajasthan               1
Bhatpara            West Bengal             4
Bhilwara            Rajasthan               3
Bhiwandi            Maharashtra             1
Bhopal              Madhya Pradesh        253
Bhubaneswar         Orissa                  4
Bikaner             Rajasthan               1
Chandigarh          Chandigarh              6
Chennai             Tamil Nadu            592
Cuttack             Orissa                  3
Davanagere          Karnataka               1
Dehradun            Uttarakhand             1
Delhi               Delhi                1034
Dewas               Madhya Pradesh          1
Dhanbad             Jharkhand              18
                                         ...
Raichur             Karnataka               1
Raipur              Chhattisgarh            1
Rajkot              Gujarat               235
Rajpur Sonarpur     West Bengal             2
Rampur              Uttar Pradesh           1
Ranchi              Jharkhand               8
Rewa                Madhya Pradesh          1
Saharanpur          Uttar Pradesh           2
Salem               Tamil Nadu              1
Satna               Madhya Pradesh          1
Sikar               Rajasthan               1
Siliguri            West Bengal             1
Sonipat             Haryana                 1
Sri Ganganagar      Rajasthan               1
Srinagar            Jammu and Kashmir       1
Surat               Gujarat              2127
Thane               Maharashtra             8
Thiruvananthapuram  Kerala                  2
Thoothukudi         Tamil Nadu              1
Thrissur            Kerala                  1
Tirunelveli         Tamil Nadu              2
Tirupati            Andhra Pradesh          2
Tiruvottiyur        Tamil Nadu              1
Ulhasnagar          Maharashtra             1
Vadodara            Gujarat               388
Vasai-Virar         Maharashtra            15
Vijayawada          Andhra Pradesh         20
Visakhapatnam       Andhra Pradesh        117
Vizianagaram        Andhra Pradesh          1
Warangal            Telangana               1
Name: Customer_ID, Length: 116, dtype: int64